#include "resource.h"

IDI_MYICON ICON "icon.ico"
IDI_ICON_MINIMIZE ICON "minimize.ico"
IDI_ICON_ARRANGE ICON "arrange.ico"
IDI_ICON_CLOSE ICON "close.ico"

IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "Minimize Selected Windows", ID_MINIMIZE
        MENUITEM "Restore Selected Windows", ID_RESTORE
        MENUITEM "Arrange Selected Windows", ID_ARRANGE
        MENUITEM "Close Selected Windows", ID_CLOSE
    END
END

